@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll caused by large elements */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

[data-aos] {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (max-width: 767px) {
  /* Mobile specific styles */
  .container {
    padding: 0 2rem;
  }
}

/* Custom Scrollbar for larger screens */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #7dd3fc;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #7dd3fc;
  }
}
